{%extends display.main%}


{%block page%}

<table class="tbl result">
  <thead>
     {%set myOrder %}{%if requestGET.order == "desc" or not requestGET.order%}asc{%else%}desc{%endif%}{%endset%}
    <tr class="info">
      <th class="pAn"></th>
      <th data-sort='{%if requestGET.sort == "year"%}{{myOrder}}{%endif%}' class="year"><a href="{{url.base}}?sort=year&order={{myOrder}}">{%trans "Year"%}</a></th>
      <th class="elected">{%trans "President elected"%}</th>
      <th data-sort='{%if requestGET.sort == "percent"%}{{myOrder}}{%endif%}' class="percent"><a href="{{url.base}}?sort=percent&order={{myOrder}}">{%trans "Winner percentage"%}</a></th>
      <th data-sort='{%if requestGET.sort == "vote"%}{{myOrder}}{%endif%}' class="vote"><a href="{{url.base}}?sort=vote&order={{myOrder}}">{%trans "Popular vote"%}</a></th>
      <th data-sort='{%if requestGET.sort == "eligible"%}{{myOrder}}{%endif%}' class="eligible"><a href="{{url.base}}?sort=eligible&order={{myOrder}}">{%trans "Eligible person"%}</a></th>
      <th data-sort='{%if requestGET.sort == "turnout"%}{{myOrder}}{%endif%}' class="turnout"><a href="{{url.base}}?sort=turnout&order={{myOrder}}">{%trans "Turnout"%}</a></th>
      <th data-sort='{%if requestGET.sort == "acceptance"%}{{myOrder}}{%endif%}' class="acceptance"><a href="{{url.base}}?sort=acceptance&order={{myOrder}}">{%trans "Winner acceptance"%}</a></th>
    </tr>
  </thead>
  <tbody>
{%for key, value in result%}
    <tr>
      <td class="acceptancePr" style="width:{{value.win_present_all}}%"></td>
      <td class="percentPr" style="width:{{value.win_present}}%"></td>
      <td class="eligiblePr" style="width:{{value.work_present}}%"></td>
      <td class="year">
{%if lang.current == 'en'%}
        <a href="{{value.election_en_url}}" title="{{value.en_title}}">{{value.year|fitNumber}}</a>
{%else%}
        <a href="{{value.fa_url}}" title="{{value.title}}">{{value.jalali_year|fitNumber}}</a>
{%endif%}
      </td>
      <td class="elected">
        <a href="{%if lang.current == 'en'%}{{value.election_en_url}}{%else%}{{value.fa_url}}{%endif%}">
          <div class="image low">
{%if value.win_url%}
            <img src='{{dlUrl}}{{value.win_url}}' alt='{{value.en_name}} {{value.en_fame}}'>
{%else%}
            <img src='{{dlUrl}}/files/election/unknown.png' alt='{%trans "Unknown"%}'>
{%endif%}
          </div>
          <h2>
{%if lang.current == 'en'%}
           <span class="name">{%if value.en_family == value.en_fame%}{{value.en_name}}{%else%}{{value.en_name}} {{value.en_family}}{%endif%}</span>
           <span class="family">{%if value.en_fame%}{{value.en_fame}}{%elseif value.en_family%}{{value.en_family}}{%else%}-{%endif%}</span>
{%else%}
           <span class="name">{%if value.family == value.fame%}{{value.name}}{%else%}{{value.name}} {{value.family}}{%endif%}</span>
           <span class="family">{%if value.fame%}{{value.fame}}{%elseif value.family%}{{value.family}}{%else%}-{%endif%}</span>
{%endif%}
          </h2>
        </a>
      </td>
      <td class="percent">
        <span>{%if value.win_present is defined and value.win_present%}{{value.win_present|fitNumber}}%{%else%}{%endif%}</span>
      </td>
      <td class="vote">
        <div>
          <span>{{value.voted|number_format|fitNumber}}</span><abbr>{%trans "vote"%}</abbr>
        </div>
      </td>
      <td class="eligible">
        <span>{{value.eligible|number_format|fitNumber}}</span><abbr>{%trans "person"%}</abbr>
      </td>
      <td class="turnout">
        <span title='{{value.voted|number_format|fitNumber}} {%trans "of"%} {{value.eligible|number_format|fitNumber}} {%trans "person"%}'>
          {{value.work_present|number_format|fitNumber}}%
        </span>
      </td>
      <td class="acceptance">
        <span title='{{(value.voted*value.win_present/100)|number_format|fitNumber}} (!) {%trans "of"%} {{value.eligible|number_format|fitNumber}} {%trans "eligible person"%} <br>{%trans "Percent from total eligible person in Iran to vote this candida"%}'>
          {{value.win_present_all|number_format(2)|fitNumber}}%
        </span>
      </td>
    </tr>
{%endfor%}
  </tbody>
</table>

{%endblock%}

