{%extends display.mvc%}


{%block body%}
{%include 'content/template/header.html'%}
 <div class="wrapper" data-xhr='wrapper' data-scroll>
{%block content%}
  <div class="page-title">
   <div class="cn">
    <h1><a href="{{url.full}}">{{page.title}}</a></h1>
{%block pageQuickView%}
    <h2>{{page.desc}}</h2>
{%endblock%}
   </div>
  </div>

{%block pageData%}
  <div class="pc">
   <div class="cn">
{%block page%}{%endblock%}
   </div>
  </div>
{%block pageExtra%}{%endblock%}
{%endblock%}
{%endblock%}
 </div>
{%include 'content/template/footer.html'%}

{%endblock%}
