<header class="f">
 <a href="https://jibres.ir" class="cauto logo" title='{%trans "Jibres"%}'><img src="{{url.siftal}}/images/logo/jibres.png" alt='{{service.title}}'></a>

 <div class="cauto os">
  <nav class="mRa10">
   <a href="{{url.here}}" title='{%trans "Check result of all elections"%}'>{%trans "All Elections"%}</a>
   <a href="{{url.here}}/candida" title='{%trans "view list of all candidates and compare result of them"%}'>{%trans "All Candidates"%}</a>
  </nav>
 {{langList({'html':true}) | raw}}
 </div>
</header>