<header class="f">
 <a href="https://ermile.com" class="cauto logo" title='{%trans "Trusted by Ermile"%}'><img src="{{url.static}}/images/ermile.png" alt='{%trans "Software Solution Provider"%}'></a>

 <div class="cauto os">
  <nav class="mRa10">
   <a href="{{url.here}}" title='{%trans "Check result of all elections"%}'>{%trans "All Elections"%}</a>
   <a href="{{url.here}}/candida" title='{%trans "view list of all candidates and compare result of them"%}'>{%trans "All Candidates"%}</a>
  </nav>
 {{langList({'html':true}) | raw}}
 </div>
</header>